body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.stopwatch-container {
    text-align: center;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(106, 187, 201, 0.1);
}

#display {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #4caf51;
    color: rgb(255, 255, 255);
}

button:disabled {
    background-color: #20af28;
    cursor: not-allowed;
}

button:hover {
    background-color: #45a045;
}
#resetBtn{
background-color: red;
}
h1{
    color: #64a1b9
}